



<app-navbar></app-navbar>
<app-head></app-head>

<div class="card mat-card">
<div class="container">
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#about">Acerca de</a></li>
      <li><a data-toggle="pill" href="#experience">Experiencia</a></li>
      <li><a data-toggle="pill" href="#education">Educación</a></li>
      <li><a data-toggle="pill" href="#publications">Publicaciones</a></li>
      <li><a data-toggle="pill" href="#awards">Reconocimientos</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
        <app-about></app-about>
    </div>
      <div id="experience" class="tab-pane fade">
        <app-experience></app-experience>
    </div>
    <div id="education" class="tab-pane fade">
        <app-education></app-education>
    </div>
    <div id="publications" class="tab-pane fade">
        <app-publications></app-publications>
    </div>
    <div id="awards" class="tab-pane fade">
        <app-awards></app-awards>
    </div>
    </div>
  </div>
</div>









<app-skills></app-skills>
<app-projects></app-projects>
