<!-- Modal -->
<div class="modal fade" id="projectsForm" tabindex="-1" aria-labelledby="projectsFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educationFormLabel">Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectsForm" (ngSubmit)="onSubmit()">
          <input type="hidden" name="id" formControlName="id">

          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10 col-form-label">
              <input type="text" name="name" formControlName="name" class="form-control" required>
            </div>
          </div>

          <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
              <input type="text" name="description" formControlName="description" class="form-control" required>
              <label for="end" class="col-sm-9 col-form-label">250 caracteres máximo.</label>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<article class="card mat-card">
  <div class="card-titles">
    <h3>Proyectos</h3>
    <div *ngIf="isUserLogged" class="btn-edit">
      <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#projectsForm" (click)="onNewProjects()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div>
    <ul class="items-list" id="proList">
      <li *ngFor="let project of projectsList; let i = index">
        <div class="data-container">

            <div class="list-info">
              <h3>{{project.name}}</h3>
              <p><span>{{project.description}}</span></p>
            </div>

        </div>
        <div *ngIf="isUserLogged" class="data-control">
          <div class="btn-edit">
            <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#projectsForm" (click)="onEditProjects(i)"><i class="fa fa-pen"></i></button>
          </div>
          <div class="btn-edit">
            <button class="btn btn-right" (click)="onDeleteProjects(i)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
        
        
      </li>
    </ul>
  </div>
</article>
